*.save
*.save.1
*.sublime-workspace
.vscode/
*.pyproj
*.sln
/*.vs

*.obj
*.dae

*.blend1

build/*
models/sounds/sources/*

/*.exe
/*.deb
/*.rpm
/*.app
/*.pkg
/*.dmg
/*.whl
/*.txz
/*.apk

__pycache__/
*.pyc
*.pyo
*.mtl
